<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, url=http://127.0.0.1:5000/">
    <title>Memes</title>
</head>
<body>
    <h1>Welcome to Your Daily Meme!</h1>
    <p>Here's your meme!</p>
    <p><a href="{{postlink}}" target="_blank"><img src="{{meme_pic}}"></a></p>
    <p>Autor: {{autor}}</p>
    <p><a href="https://www.reddit.com/r/{{subreddit}}/" target="_blank">subreddit: {{subreddit}} </a></p>
</body>
</html>